body{overflow-x: hidden;}

:root{
  --primary:#5D3C90;
}

.container{ max-width: 1180px; }
.container-lg{max-width:95%;}
.block-info{ background: #fff; padding:45px; border-radius:7px; box-shadow:0 0 30px rgba(0, 0, 0,  .15); }

.header{padding-top: 7px; padding-bottom:7px; transition: 0.5s;}
.padding-y-lg{padding-top:50px; padding-bottom:50px}
.padding-y{padding-top:30px; padding-bottom:30px}



.bg{background: #f9f4ff; }

.bg-overlay{
  position: relative;
}
.bg-overlay:after{
  content: "";
  position: absolute; top:0; left:0; right:0; bottom:0;
  
  z-index: 1;

  /*background-color:rgba(92,60,144,.7);*/
  background-color:rgba(250,245,255,.75);
}
.bg-overlay > div{ 
  position: relative;
    z-index: 10;  }
.bg-purple{ background: #5D3C90; background-color: var(--primary); }
.bg-pattern{background-image: url("bg-pattern.jpg"); background-size: cover;}
.btn-purple{background-color: #5D3C90; color:#fff;}
.btn-purple:hover{background-color: #654598; color:#fff;}

.logo{height: 42px; width:auto; vertical-align: middle; margin-right:7px;}
.header .slogan{ font-size:14px; display: inline-block; line-height: 1.3; vertical-align: middle; color:#fff;}
.header .slogan-dark{ color:var(--primary); }
.header.scrolled .slogan{ color:#333!important;  }
.header.scrolled{background: #fff; box-shadow: 0 0 7px rgba(0,0,0, .1); padding:0; transition: 0.5s;}

.white{color:#fff;}
.purple, .color-purple{color:#5D3C90;}
.light-pink{color:#E1CEFF;}
.relative{position:relative;}
.section-intro{ padding-top:70px; padding-bottom:35px; }
.title-intro{color:#fff; margin-bottom: 20px; font-weight:400; font-size: 48px; }
.title-section{font-size:42px; margin-bottom:15px;}
.lead{font-size:26px;}
.intro-text{padding-top:100px;}

.intro-text .special{ font-size:18px; background: #6944A1; border-radius:20px; padding:7px 15px; margin-right:5px; margin-bottom:10px; color:#E1CEFF; display: inline-block;}
.intro-text .lead{ color:#E1CEFF; }

.intro-bg-shape{
  position: absolute;
    width: 850px; height:850px;
    z-index: -1;
    top: -140px;
    left: -230px;
    transform: rotate(45deg);
}
.bg-shape-right{
   position: absolute;
    width:450px; height:450px;
    z-index: -1;
    top: 240px;
    right: -100px;
    transform: rotate(45deg);
}

.list-features{
  line-height: 2; list-style: none 
}

.list-features li{
  margin:25px; text-indent:7px;
}
.list-features li:before{
   content: "\25CF"; font-size: 20px;
   color: #7952b3;
}

.iconbox-file{
  text-align:center;
}
.iconbox-file .title{
  margin-bottom:0px;
}
.iconbox-file img{ height:36px; width: auto;
  opacity:.6; margin-bottom:7px;
}

.card-showcase{margin-bottom:2rem; }
.card-showcase .img-wrap{height:200px; cursor: zoom-in; overflow: hidden; border-bottom:1px solid #ddd; position: relative;}
.card-showcase .title{ margin-bottom:0; text-decoration: none }
.showcase-lg .img-wrap{height:250px;}
.btn-overlay{display: none;  position: absolute; bottom: 0; width:100%; padding:5px; text-align: center; background:var(--blue); color:#fff; text-decoration: none; }
.card-showcase:hover .btn-overlay{ display:block; color:#fff; text-decoration: none  }


@media all and (max-width:1024px) {   
	/* mobile devices */
	.card-showcase .img-wrap{height:200px; }
	.sidebar{display: none}
	.inner-main { padding:15px;}
  .header{background: #fff;}
  .navbar-brand .slogan{ color:#333;  }

}

@media  (min-width:1025px) {   
  /* desktop devices */
 .navbar-sticky{position: sticky;top: 0; z-index: 1040; }
 .navbar-fixed{position: fixed; top: 0; right:0; left:0; z-index: 1040; }

}

@media (min-width:1500px) {   
  /* large desktop devices */
	 .intro-bg-shape {
	    position: absolute;
	    width: 1200px;
	    height: 1200px;
	}
}




.itembox{padding:30px 10px;}
.itembox p{margin-bottom:0;}
.itembox .icon-wrap{margin-bottom: 10px;}
.icon-xs, .icon-sm, .icon-md, .icon-lg {
  display: inline-block;
  text-align: center; }

.icon-sm {
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 22px; }
